
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.link {
  text-decoration: none;
  color: #d1d5db;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.link:hover {
  background-color: #374151;
  color: white;
}

.active {
  background-color: #374151;
  border-radius: 8px;
   padding: 15px;
}